.cart-no {
    position: absolute;
    min-height: 25px;
    min-width: 25px;
    border-radius: 50%;
    background: blue;
    color: white;
    text-align: center;
    top: -12px;
    right: 32px;
}

a {
    text-decoration: none;
    color: #343a40;

    &.active {                              //apply this style to anything that's active or has the active class Inside an A tank.    110
        color: orange;
    }
}

.logo {
    cursor: pointer;
}